@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixin.scss' as *;


.btn{
    width: fit-content;
    cursor: pointer;
    border: none;
    color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 3px;
}