@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.content {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: $background;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 12px;
}

.formTitle {
    font-size: 2.5rem;
    margin: 4px 0;
    text-align: center;
}

.form {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0 0 0;
    background-color: $forwdground;
    color: $background;
    padding: 24px;
    border-radius: 4px;
    align-items: center;
}

.inputWrapper {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputWrapper > label { 
    color: $background;
    font-weight: bold;
}

.btn,
.input,
.select {
    border-radius: 4px;
    border: none;
    height: 5vh;
    background-color: #FFFFFF;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 75%;
}

.input,
.select {
    width: 100%;
    box-shadow: 0px 0px 1px $background;
}

.input {
    color: $background;
    background-color: #FFFFFF;
    padding: 4px;
}

.select {
    color: $background;
    cursor: pointer;
}

.select>option {
    color: $background;
    font-size: 1.1rem;
}

.strongText {
    font-weight: bold;
}

.btnWrapper {
    display: flex;
    align-items: center;
    width: 75%;
}

.btn {
    cursor: pointer;
    color: $forwdground;
    font-weight: bold;
    padding: 4px;
    background-color: $accent;
    font-family: var(--font-poppins);
    width: 50%;
    box-shadow: 0 0 5px $accent-light;
    font-size: 1.3rem;
    height: 7vh;
}

.imgWrapper {
    width: 50%;
    object-fit: cover;
}

.imgWrapper>img {
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
}